@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*font-family: 'Passion One', sans-serif;*/

  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');/*font-family: 'Sriracha', cursive;*/

  *{
    margin: 0px;
    padding: 0px;
  }

  html, body{
    min-height: 100vh;
  }

  header{
    background-color: black;
    text-align: center;
  }

  header >h1{
    font-family:'Passion One', sans-serif;
    font-variant: small-caps; /*Muda as letras para a forma maiúsculas, mas sem alterar o tamanho digitado (maius./minus.) Para transforma todo um conteúdo em maiúscula, use a tag = text-tranform:*/
    font-size: 10vw;
    color: white;
    padding-top: 50px;
  }

  nav {
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
    
  }

  nav > a{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: white; 
    text-decoration: none;
    font-size: 1em;
  }

  nav >a:hover{
    text-decoration: underline;
  }

  section > p{
    font-family: 'Sriracha', 'cursive';
    font-size: 3.5vw;
    line-height: 2em; 
    
  }

  section#img01{
    position: relative;/*não necessário, causou erro de exibição*/
    height: 71vh;/* '' '' '' ''*/
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;/*não necessário*/
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
  }

  section#img02{
    position: relative;/*não necessário, causou erro de exibição*/
    height: 71vh; /* '' '' '' ''*/
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;/*não necessário*/
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    padding: 44px;
  
  }

  section p.paragrafo-imagem{
    position: absolute;/*não necessário, causou erro de exibição*/
    left: 5%; /*" " " "*/
    top: 10%;/*" " " "*/
    background-color: rgba(0, 0, 0, 0.493);
    text-shadow: 1px 1px 1px black;
    color: white;
    padding: 5px;
  }

  p.paragrafo-unico{
    background-color: white;
    padding: 70px 30px 100px 30px;
  }

  p.paragrafo-primeiro{
    background-color: white;
    padding: 50px 30px 0px 30px;
  }

  p.paragrafo-segundo{
    background-color: white;
    padding: 50px 30px 100px 30px;
  }

  footer{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
  }
  footer p{
    color: white;
  }

  footer a{
    color: white;
    font-weight:bold;
  }

  footer a{
    text-decoration: none;
  }
    
  footer a:hover{
    text-decoration: underline;
  }
 /*Observações: exagerei na qunatidade de detalhes e informações, fazendo o código ficar até mesmo mais confuso. Menos pode ser mais. Comparando os dois códigos (o outro está nos desafios), vi que nem todas as estilizações precisam ser aplicadas, apenas algumas já são o suficiente. Veja como maior exemplo onde este deu errado na parte de adaptação da tela dos parágrafos com fundos com efeito parallax. Não seriam necessário o atributos position: relative e absolute, assim como os left e top que vem depois, pois eram apenas parágrafos, não uma caixa/conteiner de conteúdo.*/